* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    height: 80px;
    background: #043464;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0rem calc((100vw - 1300px) / 2);

}

.logo {
    color: white;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    padding: 0 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
}

.hero {
    background: white;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}

.column-left h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: 100%;
    height: 100%;
}

.input {
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}